@media screen and (max-width: 700px) {
  .g-nav {
    height: 80px;
  }

  .g-nav-list,
  .g-nav-link {
    display: none;
  }

  .g-nav-list {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(199, 199, 199, 0.8);
  }

  .g-nav-list ul li a {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }

  .g-nav-list ul li a > svg {
    width: 20px;
    height: 20px;
    display: flex;
    margin: auto;
  }

  .g-nav-list ul li a svg:hover {
    color: var(--coral);
  }

  .g-nav-list ul li a {
    padding: 0 1rem;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
  }

  .g-header {
    padding: 0 10px;
    height: 100vh;
  }

  .g-header .g-header-text h3 {
    font-size: 3rem;
    text-align: center;
  }

  .g-header .g-header-text p {
    font-size: 1rem;
  }

  .g-header .g-header-text button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .g-about {
    padding: 0 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
  }

  .g-about .g-about-text h3 {
    font-size: 3rem;
  }

  .g-about .g-about-text p {
    font-size: 1rem;
  }

  .g-about-follow {
    flex-direction: column;
  }

  .g-about-follow .sosmed a {
    margin: 10px;
  }

  .g-works {
    padding: 0 10px;
  }

  .g-works .g-works-text h3 {
    font-size: 3rem;
  }

  .g-works .g-works-text p {
    font-size: 1rem;
  }

  .g-works .works-list {
    padding: 10px;
    box-sizing: border-box;
  }

  .g-works .works-list .works-card {
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .g-works .works-card .card-text h4 {
    font-size: 2rem;
  }

  .g-works .works-card .card-text p {
    margin: 10px 0;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .g-works .works-card .card-text a {
    width: 180px;
    height: 70px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin: auto;
  }

  .g-works .works-card .card-image {
    display: grid;
  }

  .g-works .works-card .card-image img {
    width: 100%;
  }

  .g-services {
    padding: 0 10px;
    text-align: center;
    margin: 30px 0;
  }

  .g-services .services-text h3 {
    font-size: 3rem;
  }

  .g-services .services-text p {
    font-size: 1rem;
  }

  .g-services .services-list .services-card {
    margin: 30px 0;
  }

  .g-services .services-list .services-card p {
    margin: 50px 0;
  }

  .g-services .services-list .services-card a {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .quote {
    padding: 0 2em;
  }

  .quote h3 {
    font-size: 2rem;
    text-align: center;
  }

  .g-footer {
    padding: 0 10px;
    display: grid;
    grid-template-areas: "text text" "image image" "copy copy";
    width: 100vw;
    border-radius: 0;
    margin-bottom: 80px;
  }

  .g-footer .footer-text h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  .g-footer .footer-copy p {
    font-size: 1rem;
    text-align: center;
  }

  .modal .modal-talk {
    width: 90vw;
    padding: 1em 2em;
  }

  .modal .modal-talk .modal-header h3 {
    font-size: 2rem;
  }

  .modal .modal-talk .modal-body .form-group input,
  textarea {
    padding: 0.5em 1em;
  }

  .modal .modal-footer button {
    padding: 0.5em 1em;
  }

  .theme {
    margin: 100px 20px;
  }
}
