@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --coral: coral;
  --red: #be1414;
  --text-color: rgb(75, 75, 75);
  --coral-shadow: 0 0 20px rgb(255, 151, 113, 0.5);
  --color-cursor: rgb(247, 203, 122);
}

body.dark {
  background-color: rgb(24, 18, 0);
  color: white;
  transition: all 0.3s ease;
}

/* style for custom cursor */
.cursor {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid var(--color-cursor);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100%, 100%;
  backdrop-filter: grayscale(0.5);
}

.link-grow {
  transform: scale(2);
  background-color: var(--color-cursor);
  z-index: -1;
}

.hover-link {
  color: white;
}
/* end custom style cursor */

.g-container {
  width: 100%;
  height: 100%;
}

.load {
  width: 100vw;
  height: 100vh;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.load .box-list {
  display: flex;
  padding: 1em;
}

.load .box {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: coral;
}

.load .load-text h3 {
  font-size: 1.5rem;
  color: rgb(196, 104, 0);
  letter-spacing: 2px;
  opacity: 50%;
}

.load .box:nth-child(1) {
  animation: loading 1s ease-in infinite;
}

.load .box:nth-child(2) {
  animation: loading 1.3s ease-in infinite;
}

.load .box:nth-child(3) {
  animation: loading 1.5s ease-in infinite;
}

@keyframes loading {
  from {
    transform: rotate(45deg) scale(0);
    opacity: 100;
  }
  to {
    transform: rotate(180deg) scale(1.5);
    opacity: 0;
  }
}

/* style for header */
.g-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 1000;
}

.g-nav.fixed {
  background-color: white;
  box-shadow: 0 0 10px rgb(112, 112, 112, 0.4);
  transition: all 0.5s ease-in-out;
}

.g-nav-logo h3 {
  font-size: 1.5rem;
  color: var(--text-color);
}

.g-nav-list ul {
  display: flex;
  justify-content: space-around;
}

.g-nav-list ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 0 2em;
  transition: all 0.3s ease-in;
}

.g-nav-list ul li a.active {
  color: var(--coral);
  position: relative;
}

.g-nav-list ul li a.active::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  margin-left: 5px;
  background-color: var(--coral);
}

.g-nav-list ul li a:hover {
  color: var(--coral);
}

.g-nav-list ul li a > svg {
  display: none;
}

.g-header {
  width: 100vw;
  min-height: 120vh;
  display: grid;
  place-content: center;
  padding: 0 200px;
  background: url(/img/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.g-header-text {
  display: grid;
  justify-content: start;
  place-items: center;
}

.g-header-text h3 {
  font-size: 4rem;
  letter-spacing: 1px;
  color: var(--text-color);
}

.g-header-text p {
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 10px 0;
  color: var(--text-color);
}

.g-header-text button {
  margin: 30px;
  padding: 1rem 3rem;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: var(--coral);
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
  transform: rotate(-3deg);
  font-weight: bold;
  display: flex;
}

.g-header-text button:hover {
  box-shadow: 0 0 30px rgb(255, 151, 113, 0.7);
  transform: rotate(0deg);
}

.g-header-text button > span {
  animation: narrow 1s both infinite;
}

@keyframes narrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
/* end header style */

/* style for about */
.g-about {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 200px;
}

.g-about-image {
  display: flex;
  padding: 1em;
}

.g-about-image img {
  display: flex;
  object-fit: cover;
  object-position: center;
}

.g-about-image img.dark {
  display: flex;
}

.g-about-text {
  display: grid;
  place-content: center start;
  padding: 1em;
}

.g-about-text h3 {
  font-size: 4rem;
}

.g-about-text p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.g-about-text h6 {
  font-size: 1.5rem;
}

.g-about-follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g-about-follow .sosmed {
  display: flex;
  padding: 10px 5px;
}

.g-about-follow .sosmed a {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.g-about-follow .sosmed a:hover {
  box-shadow: 0 0 5px rgb(156, 156, 156, 0.5);
}

.g-about-follow .sosmed a > img {
  width: 30px;
  height: 30px;
}
/* end about style */

/* style for teams */
.teams {
  width: 100vw;
  padding: 0 200px;
  margin: 100px 0;
}

.teams .teams-header {
  margin: 1em 0;
}

.teams .teams-header h3 {
  font-size: 3.5rem;
}

.teams .teams-header p {
  font-size: 1.3rem;
}

.teams .teams-list {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.teams .teams-list .teams-card {
  display: flex;
  width: 48%;
  padding: 2em;
  transition: 0.5s ease-in;
  border-radius: 10px;
}

.teams .teams-list .teams-card:hover {
  box-shadow: 0 0 10px rgb(177, 177, 177, 0.5);
}

.teams .teams-list .teams-card .teams-card-image {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.teams .teams-list .teams-card .teams-card-image img {
  width: 100%;
}

.teams .teams-list .teams-card .teams-card-body {
  display: grid;
  place-content: center;
}

.teams .teams-list .teams-card .teams-card-body span {
  margin: 10px 0;
  height: 5px;
  width: 100%;
  border-radius: 50px;
  background-color: coral;
}

.teams .teams-list .teams-card .teams-card-body h4 {
  font-size: 1.2rem;
}

.teams .teams-list .teams-card .teams-card-body h5 {
  font-size: 1.5rem;
}
/* end teams style */

/* style for works */
.g-works {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
}

.g-works .g-works-text {
  text-align: center;
  margin: 30px;
}

.g-works .g-works-text h3 {
  font-size: 4rem;
}

.g-works .g-works-text p {
  font-size: 1.5rem;
  font-weight: inherit;
}

.g-works .works-list {
  margin: 30px 0;
  padding: 20px;
}

.g-works .works-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.g-works .works-button > button {
  padding: 1em 1.5em;
  margin: 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.g-works .works-button > button:hover {
  box-shadow: 0 0 10px rgba(168, 168, 168, 0.5);
}

.g-works .works-button > button.active {
  transition: all 0.5s ease-in;
  box-shadow: 0 0 10px rgba(168, 168, 168, 0.5);
}

.g-works .works-list .works-card {
  display: flex;
  flex: 1;
  margin: 30px 0;
  border: 1px solid rgba(161, 161, 161, 0.5);
  border-radius: 5px;
  transition: 0.5s ease-in;
}

.g-works .works-list .works-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.g-works .works-list .works-card:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(161, 161, 161, 0.3);
}

.g-works .works-list .works-card .card-image {
  display: flex;
  width: 50%;
  overflow: hidden;
}

.g-works .works-card .card-image img {
  transition: all 0.5s ease-in;
  object-fit: cover;
}

.g-works .works-card .card-image img:hover {
  transform: scale(1.2) rotate(15deg);
}

.g-works .works-list .works-card .card-text {
  display: grid;
  place-content: center start;
  width: 50%;
  padding: 3em;
}

.g-works .works-card .card-text h4 {
  font-size: 2rem;
}

.g-works .works-card .card-text p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.g-works .works-card .card-text a {
  display: flex;
  width: 200px;
  height: 70px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--red);
  font-size: 1.2rem;
  color: white;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgb(253, 121, 121, 0.5);
  transition: all 0.5s ease-in-out;
}

.g-works .works-card .card-text a:hover {
  box-shadow: 0 0 0 rgb(253, 121, 121, 0.5);
}

/* end works style */

/* style for services */
.g-services {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
}

.g-services .services-text {
  margin: 20px 0;
  text-align: end;
}

.g-services .services-text h3 {
  font-size: 4rem;
}

.g-services .services-text p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

.g-services .services-list {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.g-services .services-list .services-card {
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  padding: 50px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}

.g-services .services-list .services-card:hover {
  box-shadow: 0 30px 15px -15px rgba(148, 147, 147, 0.5);
}

.g-services .services-list .services-card img {
  width: 100%;
}

.g-services .services-list .services-card h3 {
  font-size: 2rem;
  font-weight: inherit;
  margin-top: 20px;
}

.g-services .services-list .services-card p {
  font-size: 1.3rem;
  margin: 20px 0;
  letter-spacing: 1px;
  padding: 0 1em;
  margin-bottom: 50px;
}

.g-services .services-list .services-card p > span {
  font-weight: 500;
}

.g-services .services-list .services-card a {
  text-decoration: none;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--coral);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.g-services .services-list .services-card a:hover {
  box-shadow: var(--coral-shadow);
}
/* end services style */

/* start for quote */
.quote {
  width: 100vw;
  height: 40vh;
  display: grid;
  margin: 20px 0;
  place-content: center;
  background: url(/img/undraw_urban_design_kpu8.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

.quote::after {
  content: "";
  position: absolute;
  top: 0;
  display: flex;
  background-color: var(--coral);
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.quote h3 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  z-index: 1;
  color: white;
  text-shadow: 0 0 5px rgb(255, 127, 80, 0.3);
}
/* end qoute style */

/* style for footer */
.g-footer {
  width: 95vw;
  height: 70vh;
  background-color: rgb(255, 216, 171);
  padding: 0 200px;
  margin-top: 30px;
  display: grid;
  grid-template-areas: "image text" "image text" "copy copy";
  gap: 30px;
  place-content: center;
  border-top-left-radius: 100px;
  margin-left: auto;
}

.g-footer .footer-image {
  grid-area: image;
  display: flex;
  align-items: center;
}

.g-footer .footer-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.g-footer .footer-text {
  grid-area: text;
  display: flex;
  align-items: center;
}

.g-footer .footer-text h3 {
  font-size: 3rem;
  color: rgb(196, 104, 0);
}

.g-footer .footer-text h3 > span:nth-child(1) {
  animation: node 1s both infinite;
}

.g-footer .footer-text h3 > span:nth-child(2) {
  animation: node 1.3s both infinite;
}

.g-footer .footer-text h3 > span:nth-child(3) {
  animation: node 1.5s both infinite;
}

@keyframes node {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

.g-footer .footer-copy {
  grid-area: copy;
}

.g-footer .footer-copy p {
  font-size: 1.2rem;
  font-weight: inherit;
  color: rgb(196, 104, 0);
}
/* end footer style */

/* style for modal */
.modal {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 500000;
  display: none;
  place-content: center;
  animation: modal 0.5s ease-in;
}

.modal .modal-talk {
  width: 50vw;
  padding: 1em 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(59, 59, 59, 0.4);
  animation: modal 0.5s ease-in;
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .modal-talk .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
}

.modal .modal-talk .modal-header h3 {
  font-size: 3rem;
  font-weight: inherit;
}

.modal .modal-talk .modal-body .form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.modal .modal-talk .modal-body .form-group label {
  margin-bottom: 10px;
}

.modal .modal-talk .modal-body .form-group input {
  width: 100%;
  height: 50px;
}

.modal .modal-talk .modal-body .form-group input,
textarea {
  border-radius: 5px;
  padding: 1em;
  outline: none;
  font-size: 18px;
}

.modal .modal-talk .modal-body .form-group textarea {
  height: 100px;
}

.modal .modal-talk .modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal .modal-talk .modal-footer button {
  padding: 1em 2em;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
}

.modal .modal-talk .modal-footer button:nth-child(1) {
  margin-right: 5px;
  background-color: black;
  color: white;
}

.modal .modal-talk .modal-footer button:nth-child(2) {
  background-color: var(--coral);
  color: white;
}
/* end modal style */

/* style for theme */
.theme {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  background-color: rgb(20, 20, 20);
  display: grid;
  place-content: center;
  box-shadow: 0 0 10px rgb(145, 145, 145, 0.5);
}

.theme:hover {
  cursor: pointer;
}

.theme svg {
  width: 30px;
  height: 30px;
  color: rgb(255, 196, 0);
}

.theme.dark {
  background-color: rgb(233, 233, 233);
}
/* end theme style */
