@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --coral: coral;
  --red: #be1414;
  --text-color: rgb(75, 75, 75);
  --coral-shadow: 0 0 20px rgb(255, 151, 113, 0.5);
}

.g-container {
  width: 100%;
  height: 100%;
}

.load {
  width: 100vw;
  height: 100vh;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.load .box-list {
  display: flex;
  padding: 1em;
}

.load .box {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: coral;
}

.load .load-text h3 {
  font-size: 1.5rem;
  color: rgb(196, 104, 0);
  letter-spacing: 2px;
  opacity: 50%;
}

.load .box:nth-child(1) {
  animation: loading 1s ease-in infinite;
}

.load .box:nth-child(2) {
  animation: loading 1.3s ease-in infinite;
}

.load .box:nth-child(3) {
  animation: loading 1.5s ease-in infinite;
}

@keyframes loading {
  from {
    transform: rotate(45deg) scale(0);
    opacity: 100;
  }
  to {
    transform: rotate(180deg) scale(1.5);
    opacity: 0;
  }
}

/* style for header */
.g-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
  position: fixed;
  z-index: 1;
}

.g-nav.fixed {
  background-color: white;
  box-shadow: 0 0 10px rgb(112, 112, 112, 0.4);
  transition: all 0.5s ease-in-out;
}

.g-nav-logo h3 {
  font-size: 1.5rem;
}

.g-nav-list {
  width: 500px;
}

.g-nav-list ul {
  display: flex;
  justify-content: space-around;
}

.g-nav-list ul li a {
  text-decoration: none;
  font-weight: bold;
}

.g-nav-link {
  padding: 20px;
}

.g-nav-link button {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: var(--coral);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.g-nav-link button:hover {
  box-shadow: var(--coral-shadow);
}

.g-header {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 200px;
}

.g-header-text {
  display: grid;
  justify-content: start;
  place-items: center;
}

.g-header-text h3 {
  font-size: 4rem;
  letter-spacing: 1px;
}

.g-header-text p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 10px 0;
}

.g-header-text button {
  margin: 30px;
  padding: 1rem 3rem;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: var(--coral);
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
  transform: rotate(-3deg);
  font-weight: bold;
}

.g-header-text button:hover {
  box-shadow: 0 0 30px rgb(255, 151, 113, 0.7);
  transform: rotate(0deg);
}
/* end header style */

/* style for about */
.g-about {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 200px;
}

.g-about-image {
  display: flex;
}

.g-about-image img {
  object-fit: cover;
}

.g-about-text {
  display: grid;
  place-content: center start;
}

.g-about-text h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.g-about-text p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.g-about-text h6 {
  font-size: 1.5rem;
  color: var(--text-color);
}
/* end about style */

/* style for works */
.g-works {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
}

.g-works .g-works-text {
  text-align: center;
  margin: 30px;
}

.g-works .g-works-text h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.g-works .g-works-text p {
  font-size: 1.5rem;
  color: grey;
  font-weight: inherit;
}

.g-works .works-list {
  margin: 30px 0;
  padding: 20px;
}

.g-works .works-list .works-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  background-color: white;
  margin: 20px 0;
  box-shadow: 0 0 2px rgb(192, 192, 192);
  transition: all 0.3s ease-in;
}

.g-works .works-card:hover {
  box-shadow: 0 0 20px rgba(148, 147, 147, 0.5);
}

.g-works .works-card .card-text {
  display: grid;
  place-content: center;
}

.g-works .works-card .card-text h4 {
  font-size: 3rem;
}

.g-works .works-card .card-text p {
  font-size: 1.5rem;
  margin: 30px 0;
}

.g-works .works-card .card-text a {
  padding: 1rem 4rem;
  text-decoration: none;
  background-color: var(--red);
  font-size: 1.5rem;
  color: white;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgb(253, 121, 121, 0.5);
  transition: all 0.5s ease-in-out;
}

.g-works .works-card .card-text a:hover {
  box-shadow: 0 0 0 rgb(253, 121, 121, 0.5);
}

.g-works .works-card .card-image {
  display: flex;
}
/* end works style */

/* style for services */
.g-services {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
}

.g-services .services-text {
  margin: 30px 0;
}

.g-services .services-text h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.g-services .services-text p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

.g-services .services-list {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.g-services .services-list .services-card {
  text-align: center;
  border: 1px solid rgb(107, 107, 107);
  padding: 20px 10px;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}

.g-services .services-list .services-card:hover {
  box-shadow: 0 30px 15px -15px rgba(148, 147, 147, 0.5);
}

.g-services .services-list .services-card img {
  width: 100%;
}

.g-services .services-list .services-card h3 {
  font-size: 2rem;
  font-weight: inherit;
  margin-top: 20px;
}

.g-services .services-list .services-card p {
  font-size: 1.3rem;
  margin: 20px 0;
  letter-spacing: 1px;
}

.g-services .services-list .services-card button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--coral);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.g-services .services-list .services-card button:hover {
  box-shadow: var(--coral-shadow);
}
/* end services style */

/* style for footer */
.g-footer {
  width: 95vw;
  height: 70vh;
  background-color: rgb(255, 216, 171);
  padding: 0 200px;
  margin-top: 30px;
  display: grid;
  grid-template-areas: "image text" "image text" "copy copy";
  gap: 30px;
  place-content: center;
  border-top-left-radius: 100px;
  margin-left: auto;
}

.g-footer .footer-image {
  grid-area: image;
  display: flex;
  align-items: center;
}

.g-footer .footer-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.g-footer .footer-text {
  grid-area: text;
  display: flex;
  align-items: center;
}

.g-footer .footer-text h3 {
  font-size: 3rem;
  color: rgb(196, 104, 0);
}

.g-footer .footer-copy {
  grid-area: copy;
}

.g-footer .footer-copy p {
  font-size: 1.2rem;
  font-weight: inherit;
  color: rgb(196, 104, 0);
}
/* end footer style */
