* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --coral: coral;
  --red: #be1414;
  --text-color: rgb(75, 75, 75);
  --coral-shadow: 0 0 20px rgb(255, 151, 113, 0.5);
}

.g-container {
  width: 100%;
  height: 100%;
}

/* style for header */
.g-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 120px;
  position: fixed;
  z-index: 1;
}

.g-nav.fixed {
  background-color: white;
  box-shadow: 0 0 10px rgb(112, 112, 112, 0.4);
  transition: all 0.5s ease-in-out;
}

.g-nav-logo h3 {
  font-size: 1.5rem;
}

.g-nav-list {
  width: 500px;
}

.g-nav-list ul {
  display: flex;
  justify-content: space-around;
}

.g-nav-list ul li a {
  text-decoration: none;
  font-weight: bold;
}

.g-nav-link {
  padding: 20px;
}

.g-nav-link button {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: var(--coral);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.g-nav-link button:hover {
  box-shadow: var(--coral-shadow);
}

.g-header {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 200px;
}

.g-header-text {
  display: grid;
  justify-content: start;
  place-items: center;
}

.g-header-text h3 {
  font-size: 5rem;
  letter-spacing: 1px;
}

.g-header-text p {
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 10px 0;
}

.g-header-text button {
  margin: 30px;
  padding: 1rem 3rem;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: var(--coral);
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in;
  transform: rotate(-3deg);
}

.g-header-text button:hover {
  box-shadow: 0 0 30px rgb(255, 151, 113, 0.7);
  transform: rotate(0deg);
}
/* end header style */

/* style for about */
.g-about {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 0 200px;
}

.g-about-image {
  display: flex;
}

.g-about-image img {
  object-fit: cover;
}

.g-about-text {
  display: grid;
  place-content: center start;
}

.g-about-text h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.g-about-text p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.g-about-text h6 {
  font-size: 1.5rem;
  color: var(--text-color);
}
/* end about style */

/* style for subscribe */
.subscribe {
  width: 100vw;
  height: 50vh;
  padding: 0 200px;
  background: var(--red);
  display: grid;
  place-content: center start;
}

.subscribe h3 {
  font-size: 4rem;
  color: white;
}

.subscribe .form {
  display: flex;
  width: 75vw;
  box-sizing: border-box;
}

.subscribe .form input {
  height: 70px;
  width: 100%;
  padding: 1rem;
  font-size: 18px;
  outline: none;
}

.subscribe button {
  padding: 1rem 3rem;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(146, 26, 146);
  color: white;
  outline: none;
  border: none;
}
/* end subscribe style */

/* style for works */
.works {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
}

.works .works-text {
  text-align: center;
  margin: 30px;
}

.works .works-text h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.works .works-text p {
  font-size: 1.5rem;
  color: grey;
  font-weight: inherit;
}

.works .works-list {
  margin: 30px 0;
  padding: 10px;
}

.works .works-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 20px;
  background-color: white;
  margin: 20px 0;
  box-shadow: 0 0 2px rgb(104, 104, 104);
}

.works .works-card .card-text {
  display: grid;
  place-content: center;
}

.works .works-card .card-text h4 {
  font-size: 3rem;
}

.works .works-card .card-text p {
  font-size: 1.5rem;
  margin: 30px 0;
}

.works .works-card .card-text a {
  padding: 1rem 4rem;
  text-decoration: none;
  background-color: var(--red);
  font-size: 1.5rem;
  color: white;
  border-radius: 50px;
  box-shadow: 0 10px 30px rgb(253, 121, 121, 0.5);
  transition: all 0.5s ease-in-out;
}

.works .works-card .card-text a:hover {
  box-shadow: 0 0 0 rgb(253, 121, 121, 0.5);
}

.works .works-card .card-image {
  display: flex;
}
/* end works style */

/* style for services */
.services {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
}

.services .services-text {
  margin: 30px 0;
}

.services .services-text h3 {
  font-size: 4rem;
  color: var(--text-color);
}

.services .services-text p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

.services .services-list {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.services .services-list .services-card {
  text-align: center;
  box-shadow: 0 0 2px rgb(27, 27, 27);
  padding: 20px 10px;
  border-radius: 5px;
}

.services .services-list .services-card img {
  width: 100%;
}

.services .services-list .services-card p {
  font-size: 1.3rem;
  margin: 20px 0;
  letter-spacing: 1px;
}

.services .services-list .services-card button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--coral);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.services .services-list .services-card button:hover {
  box-shadow: var(--coral-shadow);
}
/* end services style */

/* style for footer */
.footer {
  width: 100vw;
  min-height: 100vh;
  padding: 0 200px;
  background: url(/img/bg.jpg);
  background-size: cover;
  display: grid;
  place-content: center;
}

.footer h3 {
  font-size: 5rem;
  color: white;
}

.footer p {
  font-size: 1.2rem;
  color: rgb(206, 91, 91);
}
/* end footer style */
